# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://hqgoolflpjslxkdgxrxm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhxZ29vbGZscGpzbHhrZGd4cnhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk1MDM3OTEsImV4cCI6MjA4NTA3OTc5MX0.fsDAY2m7W9wlhObUfFKUNFhlrtiKrVdTNe1Xl7hAsgA


# Email Configuration (for notifications)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=glodojamaica162@gmail.com
SMTP_PASS=bnav gnzn xdcu rfvi
SMTP_FROM="SorSU Registrar <registrar@sorsu.edu.ph>"